<script>
	function createOrder(product_id)
	{
		$.post("/orders",{ product_id : product_id},
		    function(data) {
		       $("#send-address").append("<p> Send bitcoin to " + data.order.receive_address+" .</p>");
		    }
		);
	}
</script>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<div>
	<a href ="javascript:void(0)", onclick="createOrder('<%= @product.id %>');" > Buy </a>
</div>

<div id = "send-address">

</div>

